<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1>This is Books Detail</h1>
<div class='container'>
   <div id="book-detail" class="d-flex justify-content-center align-middle">
      <div class="card" style="width: 45rem;">
         <div id="bookcover" class="rounded-circle account-img">
         </div>
         <div class="card-body">
               <div class="row">
                     <div class="col mx-auto">
                        <div class="row">
                           <div class="col-7 ">
                              <h5 id="booktitle" class="card-title"></h5>
                              <div class="row">
                                 <h9 id="bookstatus" class="text-muted"></h9>
                              </div>
                           </div>
                           <div class="col-5">
                              <div class="row">
                                 <div class="col-4">
                                    <div id="like">
                                    </div>
                                    <div id="dislike">
                                    </div>
                                 </div>
                                 <div id="bookupdate" class="col">
                                 </div>
                                 {% if user.is_authenticated %}
                                    <div id="checkin" class="col">
                                    </div>
                                    <div id="checkout" class="col">
                                    </div>
                                    <div id="download" class="col">
                                    </div>
                                 {% endif %}
                              </div>
                           </div>
                        </div>
                     </div>      
               </div>
               <div class="row">
                  <h6 id="bookadded" class="card-title"></h6>
               </div>
               <div class="row">
                  <h7 id="bookauthor" class="card-title"></h6>
               </div>
               <div class="row">
                  <h8 id="bookemail" class="card-title"></h7>
               </div>
               <div class="row">
                  <h9 id="bookdesc" class="card-title"></h7>
               </div>
               <div class="row">
                  <h9 id="bookcon" class="card-title"></h7>
               </div>
               <div class="row">
                  <h9 id="bookloc" class="card-title"></h7>
               </div>
         </div>
      </div>
   </div>
   <br>
   <div id="commentcount" class="w-50 mx-auto justify-content-center align-middle">
      Comments : 
   </div>
   <br>
   <div class="w-50 mx-auto justify-content-center align-middle">
      {% if user.is_authenticated %}
      <form id="commentform">
         <div class="position-relative">
            <label for="exampleFormControlTextarea1" class="form-label">Leave a Comment:</label>
            <textarea class="form-control" id="bookcommentcontent" rows="3"></textarea>
            <br>
            <input  type="submit" name="submit" value="Submit">
         </div>
      </form>
      {% else%}
      <h5>You must <a href="{% url 'login' %}">login</a> to comment</h5>
      {% endif %}
   </div>
   <br>
   <div id="commentdisplay" class="w-50 mx-auto justify-content-center align-middle">
      : 
   </div>
   <div>
   </div>
</div>
{% endblock %}
{% block extra_script %}
<script type="text/javascript" src="{% static 'js/books/library-books-detail.js' %}"></script>
<script type="text/javascript" src="{% static 'js/books/library-books-checkin-out.js' %}"></script>
<script type="text/javascript" src="{% static 'js/books/libary-books-comments.js' %}"></script>
{% endblock %}