<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1>This is Books Detail</h1>
<div class='container'>
   <div id="book-detail" class="d-flex justify-content-center align-middle">
      <div class="card" style="width: 30rem;">
         <div id="bookcover" class="rounded-circle account-img">
         </div>
         <div class="card-body">
               <div class="row">
                     <div class="col mx-auto">
                        <div class="row">
                           <h9 id="bookstatus" class="text-muted"></h9>
                        </div>
                        <div class="row">
                           <div class="col-6 ">
                              <h5 id="booktitle" class="card-title"></h5>
                           </div>
                           <div class="col-4">
                              <div class="row">
                                 <div id="bookupdate" class="col-6 col-sm-6">
                                 </div>
                                 {% if user.is_authenticated %}
                                    <div id="checkin" class="col">
                                    </div>
                                    <div id="checkout" class="col">
                                    </div>
                                 {% endif %}
                              </div>
                           </div>
                        </div>
                     </div>      
               </div>
               <div class="row">
                  <h6 id="bookadded" class="card-title"></h6>
               </div>
               <div class="row">
                  <h7 id="bookauthor" class="card-title"></h6>
               </div>
               <div class="row">
                  <h8 id="bookemail" class="card-title"></h7>
               </div>
               <div class="row">
                  <h9 id="bookdesc" class="card-title"></h7>
               </div>
               <div class="row">
                  <h9 id="bookcon" class="card-title"></h7>
               </div>
         </div>
      </div>
   </div>
</div>
{% endblock %}
{% block extra_script %}
<script type="text/javascript" src="{% static 'js/books/library-books-detail.js' %}"></script>
<script type="text/javascript" src="{% static 'js/books/library-books-checkin-out.js' %}"></script>
{% endblock %}