<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class='container' style="justify-content: center; align-items: center;">
    <div class="position-relative">
        <form id="updatebooksdetails" enctype="multipart/form-data" novalidate>
            <div class="mb-3">
                <label for="InputBkCover" class="form-label">Book Cover</label>
                <input class="form-control" id="updtbkcover" type="file" name="updtbkcover">
            </div>
            <div class="mb-3">
                <label for="InputTitle" class="form-label">Title</label>
                <input class="form-control" id="updttitle" type="text" name="updttitle">
            </div>
            <div class="mb-3">
                <label for="InputAuthor" class="form-label">Author</label>
                <input class="form-control" id="updtauthor" type="text" name="updtauthor">
            </div>
            <div class="mb-3">
                <label for="InputAuthorEmail" class="form-label">Author Email</label>
                <input class="form-control" id="updtaemail" type="text" name="updtaemail">
            </div>
            <div class="mb-3">
                <label for="InputBookDescription" class="form-label">Book's Description</label>
                <textarea class="form-control" id="updtbkdesc" rows="3"></textarea>
              </div>
            <div class="mb-3">
                <label for="InputCondition" class="form-label">Book's Condition</label>
                <select class="form-select" aria-label="Default select example" id="updtbkcondition" name="updtbkcondition">
                    <option selected>Open this select menu</option>
                    <option value="Physical">Physical</option>
                    <option value="Digital">Digital</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="InputLocation" class="form-label">Book's Location</label>
                <select class="form-select" aria-label="Default select example" id="updtbklocation" name="updtbklocation">
                    <option selected>Open this select menu</option>
                    <option value="Home">Home</option>
                    <option value="Office">Office</option>
                    <option value="Into the Matrix">Into the Matrix</option>
                </select>
            </div>
            <input  type="submit" name="submit" value="Submit">
        </form>
        <div id="output">
        </div>
    </div>
</div>
{% endblock %}
{% block extra_script %}
<script type="text/javascript" src="{% static 'js/books/library-books-update.js' %}"></script>
{% endblock %}