{% extends 'base.html' %}
{% load static %}
{% block navbar %}
<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="/media/lib-book.png" alt="" width="40" height="35"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li id="for-books-home"class="nav-item">
          <a class='nav-link' href='/books/'>Books</a>
        </li>
        <li id="for-users-home"class="nav-item">
          <a class='nav-link' href='/users/'>Users</a>
        </li>
        <li id="for-users-home"class="nav-item">
          <a class='nav-link' href='/users/search'>Search Page</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-100 mb-2 mb-lg-0">
        
    
      </ul>
      <ul class="navbar-nav ms-4 mb-2 mb-lg-0">
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" name="useremail">
              {{ user.email|default:'Guest' }}
          </a>
          {% if user.is_authenticated %}
          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/books/create/">Create Book</a>
              <a class="dropdown-item" href="{% url 'users:users-detail' user.id %}">Update Profile</a>
              <a class="dropdown-item" href="{% url 'logout' %}">Log Out</a>
          </div>
         
          {% else %}
          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'login' %}">Log In</a>
            <a class="dropdown-item" href="/users/register/">Register</a>
          </div>
          {% endif %} 
          </li>
      </ul>
    </div>
  </div>
</nav>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>
{% endblock %}
{% block extra_script %}
<script type="text/javascript" src="{% static 'js/extra/library-extra-search.js' %}"></script>

{% endblock %}