<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class='container' style="justify-content: center; align-items: center;">
    <div class="position-relative">
        <form id="passwordchange" novalidate>
            <div class="mb-3">
                <label for="InputLastName" class="form-label">Old Password</label>
                <input class="form-control" id="old_password" type="password" name="old_password">
            </div>
            <div class="mb-3">
                <label for="InputLastName" class="form-label">New Password</label>
                <input class="form-control" id="password1" type="password" name="password1">
            </div>
            <div class="mb-3">
                <label for="InputLastName" class="form-label">Confirm Password</label>
                <input class="form-control" id="password2" type="password" name="password2">
            </div>
            <input  type="submit" name="submit" value="Submit">
        </form>
        <div id="output">
        </div>
    </div>
</div>
{% endblock %}
{% block extra_script %}
<script type="text/javascript" src="{% static 'js/users/library-users-change-password.js' %}"></script>
{% endblock %}