<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class='container' style="justify-content: center; align-items: center;">
    <div class="position-relative">
        <form id="loginform">
            <div class="mb-3">
                <label for="InputEmail" class="form-label">Email</label>
                <input class="form-control" id="email" type="text" name="email">
            </div>
            <div class="mb-3">
                <label for="InputLastName" class="form-label">Password</label>
                <input class="form-control" id="password" type="password" name="password">
            </div>
            <input  type="submit" name="submit" value="Submit">
        </form>
        <div id="output">
        </div>
    </div>
</div>
{% endblock %}
{% block extra_script %}
{% comment %} <script type="text/javascript" src="{% static 'js/users/library-users-login.js' %}"></script> {% endcomment %}
{% endblock %}