<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class='container'>
      <div id="users-detail" class="d-flex justify-content-center align-middle">
            <div class="card" style="width: 30rem;">
                  <div id="userpic" class="rounded-circle account-img">
                  </div>
                  <div class="card-body">
                        <div class="row">
                              <div class="col mx-auto">
                                    <h5 id="userfirstlastname" class="card-title"></h5>
                              </div>
                              <div id="userupdate"class="col">
                              </div>
                        </div>
                  
                  <h6 id="userEmail" class="card-title"></h5>
                  <p id="userBio" class="card-text"></p>
                  </div>
            </div>
      </div>
      <div class='users-books'>
            <h1 class="d-flex justify-content-center align-middle">Thou Owner's Books</h1>
               <div class="col" id="users-books-views" >
                  
               </div>
               
         </div>
</div>
{% endblock %}
{% block extra_script %}
<script type="text/javascript" src="{% static 'js/users/library-users-detail.js' %}"></script>
<script type="text/javascript" src="{% static 'js/users/library-user-books.js' %}"></script>
{% endblock %}